body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.about-us {
    padding: 50px 20px;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-us h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffab00;
}

.about-us p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.about-us img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}